<h1>Hello <%= current_user.first_name %></h1>


<section>
<h2>Recherchez un restaurant</h2>
<%= form_with scope: :restaurant, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</section>

<%= link_to 'Changement de mot de passe', edit_user_password_path %>
<%= link_to 'Déconnexion',  destroy_user_session_path, method: :delete %>